<app-navbar></app-navbar>
<!-- <app-main-page></app-main-page> -->
<!-- <app-menu></app-menu> -->
<!-- <app-customer></app-customer> -->

<!-- <app-food-form></app-food-form> -->
<!-- <app-orderform></app-orderform> -->
<router-outlet></router-outlet>

<!-- <app-addminlogin></app-addminlogin> -->
<!-- <app-admin-dash-bord></app-admin-dash-bord> -->
<!-- <app-dashbord></app-dashbord> -->
<!-- <app-update-menu></app-update-menu> -->
<!-- <app-order-list></app-order-list> -->
<app-footer></app-footer>