<form class="form"   (ngSubmit)="SaveUsers() " >
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
        <div class="flex">
        <label>
            <input required="" name="first_name" type="text" #fn="ngModel"  required minlength="2" maxlength="15" [(ngModel)]="user.first_name" class="input" #name="ngModel">
            <span  *ngIf="fn.touched && fn.invalid" style="color: red;"> INVALID FIRST NAME</span>
            <span>Firstname</span>
        </label>

        <label>
            <input name="last_name" #fl="ngModel"  required minlength="2" maxlength="15" [(ngModel)]="user.last_name"  placeholder="" type="text" class="input">
            <span  *ngIf="fl.touched && fl.invalid" style="color: red;"> INVALID LASTNAME NAME</span>
            <span>Lastname</span>
        </label>
        
       
    </div>  
    <label>
        <input name="user_name" #un="ngModel"  required minlength="2" maxlength="15"[(ngModel)]="user.user_name" placeholder="" type="text" class="input">
        
        <span>Username</span>
        <span  *ngIf="un.touched && un.invalid" style="color: red;">INVALID USERNAME</span>
    </label>
            
    <!-- <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Email</span>
    </label>  -->
        
    <label>
        <input  #pw="ngModel"  required minlength="4" maxlength="10"[(ngModel)]="user.userpassword" name="psw" placeholder="" type="password" class="input">
        <span>Password</span>
        <span  *ngIf="pw.touched && pw.invalid" style="color: red;"> INVALID PASSWORD</span>
    </label>
    <label>
        <input  name="user_address1" #ad1="ngModel"  required minlength="4" maxlength="40" [(ngModel)]="user.user_address1" placeholder="" type="address" class="input">
        <span>Address1</span>
        <span  *ngIf="ad1.touched && ad1.invalid" style="color: red;"> INVALID ADDRESS1</span>
    </label>
    <label>
        <input name="user_address2" #ad2="ngModel"  required minlength="4" maxlength="40" [(ngModel)]="user.user_address2" type="address" class="input">
        <span>Address1</span>
        <span  *ngIf="ad2.touched && ad2.invalid" style="color: red;"> INVALID ADDRESS2</span>
    </label>
    <button class="submit">Submit</button>
    

    <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
</form>